body {
       font-family: 'Roboto', 'arial', sans-serif;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    }
.first > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: anywhere;
}

p {
    color: aliceblue;
}

h2 {
    font-family: 'Roboto', 'arial', sans-serif;
    font-size: 65px;
    text-transform: uppercase;

}
h3 {
    font-family: 'Roboto', 'arial', sans-serif;
    font-size: 40px;
    text-transform: uppercase;

}


/* sekcja cos tam*/
.fothead {
    background-color: #191970;
    align-content: center;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    color: white;
    padding: 15px;
    

}
.box {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;   
}

.section1container {
    display: flex;
    justify-content: center;
}

.global-section {
    margin: 5% 15%
}

.container1 {
    background-color: #191970;
    display: flex;
    flex-flow: column;
    padding: 2em;
}

.cont-textimg {
    display: flex;
    flex-flow: row;
}
.container-galery {
    display: flex;
}

.galery {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.img-item {
    padding: 16px;
}

.first {
    text-align: center;
}

